ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 2.5px solid black;
    border-bottom: 2.5px solid black;
    
}

  li {
    float: left;

  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 9px 11px;
    text-decoration: none;
  }

  button {
    padding: 6px;
  }